<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Comments</title>
</head>
<link rel="stylesheet" href="css/main.css">

<body>

<ul class="nav-bar">
    <li class= "li-navbar"><a href="/">Home</a></li>
    <li class= "li-navbar"><a href="connect4">Play</a></li>
    <li class= "li-navbar"><a href="score">Score</a></li>
    <li class= "li-navbar"><a href="/comment">Comment</a></li>
    <li class= "li-navbar"><a href="/rating">Rating</a></li>

    <span th:if="${@indexController.isLogged}">
        <li class="a-logout" style="float: right;">
            <p><a  href="/logout">Logout</a></p>
            <p>Logged User: <span th:text="${@indexController.user.login}"></span></p>
    </li>
    </span>
</ul>
    <span th:if="${@indexController.isLogged}">
        
        <form class= "form-login" action="/comment/add">
            <h2>Add comment:</h2>
            <input type="text" name="comment" placeholder="Your comment">
        </form>
    </span>

    <form class= "form-login" action="/comment">
        <h2>Find comment by name:</h2>
        <input type="text" name="player" placeholder="Name">
    </form>

    <div class="middle-text">
        <h4 th:if="${@commentController.isFound}">
            <ol>
                <li th:each="comment:${comments}">
                    <span th:text="${comment.player}"/>
                    <p> says:</p>
                    <span th:text="${comment.comment}"/>
                </li>
            </ol>
        </h4>
        <span th:if="not ${@commentController.isFound}">
            <p>User did not comment</p>
        </span>
    </div>
<div class="footer-fixed">
    <h3>Created by Martin Novysedlák</h3>
</div>

</body>
</html>