<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Gamestudio</title>
</head>
<body>

    <a href="/">home</a>
    <a href="/score">score</a>
    <a href="/comment">comment</a>
    <a href="/rating">rating</a>
    <span th:if="${@indexController.isLogged}">
        <a href="/logout">Logout</a><br>
        Logged User:
        <span th:text="${@indexController.user.login}"></span>
    </span>

    <h1>Connect4</h1>

    <a href="/connect4/new">New Game</a>
    <span th:utext="${htmlField}"/>
</body>
</html>