<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Gamestudio</title>
</head>
<body>
<link rel="stylesheet" href="css/main.css">
<link rel="stylesheet" href="css/bootstrap.css">
<ul class="nav-bar">
    <li class= "li-navbar"><a href="/">Home</a></li>
    <li class= "li-navbar"><a href="connect4">Play</a></li>
    <li class= "li-navbar"><a href="score">Score</a></li>
    <li class= "li-navbar"><a href="/comment">Comment</a></li>
    <li class= "li-navbar"><a href="/rating">Rating</a></li>


    <span th:if="${@indexController.isLogged}">
        <li class="a-logout" style="float: right;">
            <p><a  href="/logout">Logout</a></p>
            <p>Logged User: <span th:text="${@indexController.user.login}"></span></p>
    </li>
    </span>
</ul>
<div class="caption">
    <h1>Connect4</h1>
</div>

<div class="playfield-wrapper" >
    <span th:utext="${htmlField}"/>
    <div th:if="${not isPlaying}" class="caption">
        <a href="/connect4/new">New Game</a>
    </div>
</div>
<span th:if="${@indexController.isLogged}" style="text-align: center">
        <h2>Your score against AI:</h2>
        <h2 th:text="${score}"></h2>
        <form action="connect4/add">
            <input type="submit" value="Submit Score">
        </form>

    </span>

<footer class="footer" style="bottom: 0">
    <h3>Created by Martin Novysedlák</h3>
</footer>

</body>
</html>