<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Gamestudio</title>
</head>
<body>

    <a href="/">home</a>
    <a href="/score">score</a>
    <a href="/comment">comment</a>
    <a href="/rating">rating</a>
    <span th:if="${@indexController.isLogged}">
        <a href="/logout">Logout</a><br>
        Logged User:
        <span th:text="${@indexController.user.login}"></span>
    </span>

    <h1>Connect4</h1>

    <a href="/connect4/new">New Game</a>
    <span th:utext="${htmlField}"/><br>

    <span th:if="${@indexController.isLogged}">
        <h2>Your score against AI:</h2>
        <h2 th:text="${score}"></h2>
        <form action="connect4/add">
            <input type="submit" value="Submit Score">
        </form>

    </span>
</body>
</html>